.tabContainer{
height:217px;
}

.tabContainer .nav{
height:210px;
}
 .Menunav{
height:210px;

} 


#container_wrap {
    margin-top:20px;
    position: relative;
    width: 986px;
    overflow:hidden;
	margin:0 auto;
}/*this is the container for content*/

#content {
  
    margin:0 auto;
	position:relative;
	overflow:hidden;
}
#content .Menucatagory
{
  width:986px;
  float:left;
}
.history_title{
margin:0 auto;
margin-top:80px;
width:620px;
height:155px;
}
.history_title img{
margin:0 auto;
display: block;
}

.history_content{
width:628px;
height:568px;
margin:0 auto;
margin-top:64px;
line-height:110%;
}
.history_content p{
font-size:13px;
font-family:SimSun;
color:rgb(103,85,52);
}
.bookimages{
position:relative;
height:370px; 
width:672px; 
margin: 0 auto; 
}

.bookcontent
{
position:relative; 
margin-top:37px; 
height:310px; 
width:672px;
margin:auto;
margin-top:50px;
}
.bookcontent p{
margin-top:13px;
font-size:13px;
font-family:SimSun;
color:rgb(103,85,52);
line-height:150%;

}
.videoDiscription{
height:373px;
background-image: url('../images/video_background.png');
}
.Discription{
float:right; 
width:266px;
height:240px;
margin-top:42px;
margin-right:132px;
}

.Discription p{
font-size:13px;
font-family:SimSun;
color:rgb(103,85,52);
line-height:150%;


}
.videozone{
background-image:url("../images/backgroundforlocation.png");
width:986px;
}

 .videodisplay
{
 float:left;
 position:relative;
 width:280px;
 height:222px;
}


.videodisplay a{
color:rgb(103,85,52);
font-size:13px;
}

.videodisplay p{
margin-top:10px;
margin-left:60px;


}
