﻿ .Menunav{
 height:108px;
} 


.content{
width:986px;
margin:25px auto 0;
}


.honor{
width:322px;
height:461px;
float:left;
margin-right:10px;
}


.honor .imgdisplay{
background-image:url("../images/honor/honorFrame.png");
height:425px;
}

.honor .imgdisplay img{
margin-top:25px;
margin-left:27px;
}
.honor p{
margin:0 auto;
font-family: STSong;
font-size:14px;
}


