* {
    margin: 0;
    padding: 0;
	text-decoration:none;
	list-style-type: none;
	border:none;
}
/*
@font-face {
	font-family: yanti;
	src: url('yanti.ttf');
}
*/
/*IE下消除点击图片文字后出现的虚线框代码
a 
{ 
  blr:expression(this.onFocus=this.blur())
}
*/

a:active, a:focus { 
 outline: none; 
 ie-dummy: expression(this.hideFocus=true);
}


html 
{ 
    min-height:101%;
}

body{
     margin: 0 auto !important;
	 background-image:url("../images/background.jpg");
     background-attachment:fixed;
	 background-position:0 0;
	 }
	 
#toremove{
height:100%;
position: relative;
margin: 0 auto;
width:1096px;
}
#content 
{
  position:relative;
  width:986px;
  margin:0 auto;
}

.header{
height:72px;
}


ul li .first{
display:block;
height:193px;
width:140px;
}

.line{
position:relative; 
top:0;
float:left;
}

ul .nav{
position:relative;
float:left;
width:141px;
height:193px;
}

ul .nav a{
float:right;
display:block;
width:140px;
height:193px;
}

.indextabcontainer{
height:193px;
width:987px;
position:relative;
background-color:rgb(214,197,165);
}
.fixTabContainer
{
 margin-top:32px; 
 width:986px;
 margin:0 auto;
}
.tabContainer{
position:static;
width:986px;
z-index:999;

margin:0 auto;

}
.tabContainer .nav{
float:right;
position:relative;
}
 .Menunav{
float:right;
border-left-style:solid;
border-left-width:1px;
border-color:rgb(148,123,75);
width:75px;
margin-top:2px;
} 
.Menunav a{
width:25px;
margin:auto;
display: block;
}
.subMenu 
{
float:left;
position:relative;
margin-top:2px;
}
.subMenu ul
{ 
display:inline;
}

.subMenu li{
width:27px;
display:block;
float:left;
margin-left:30px;
}

.subMenu li a{
display: block;
cursor:pointer;
}



.img-swap{
float:right;

}
.clear{
clear:both;
height:0px;
}


.footer{
clear:both;
margin:0 auto;
width:986px;
height:60px;
}











