﻿.tabContainer{
height:180px;

}

.Menunav{

height:175px;
} 

.worldmaps{
margin:0 auto;
width:986px;
height:460px; 
position:relative; 
background-image:url('../images/backgroundforlocation.png');
}


.worldmaps a{
position:absolute;
z-index:0;
}

.LoadLocation
{
  display:inline;
  float:left;
  margin-left:15px;
}

.LoadLocation a
{
display:block;
width:28px;

}

#locations{
background-image:url("../images/backgroundforlocation.png");
width:986px;
border-width:0;
margin:0 auto;
}

#foreignlocations{
position:relative;
}

.nation{
height:41px;
width:944px;
margin:0 auto;
position:relative;
border-color:#FFFFFF;
border-bottom-style:solid;
border-bottom-width:1px;
}
.branchs{
width:901px;
margin-top:25px;
margin-left:20px;
position:relative;
height:335px;
border-bottom: 1px solid #FFFFFF;
}

.foreignBranchs{
width:901px;
margin-top:25px;
margin-left:20px;
position:relative;
height:170px;
}

.branchname
{
position:relative;
width:901px;
height:42px;
}
.slider-wrapper
{
height:218px;
width:291px;
margin-left:35px;

}


.branchname h4
{
font-family:SimSun;
font-size:14px;
font-weight:600;
float:left;
}
.new_address
{
  position:absolute;
  height:51px;
  width:291px;
  top:263px;
  left:35px;
  margin-top: 10px;
}

.new_address  .adicon{
float:left;
margin-top:4px;
}


.new_address .phicon{
float:left;
margin-top:5px;
margin-left:2px;

}
.new_address p
{  font-size:12px;
   font-family:SimSun;
   font-weight:100;
   color:rgb(103,85,52);
   margin-top:3px;
}

.new_address .p2
{  font-size:15px;
   font-family:SimSun;
   font-weight:100;
   color:rgb(103,85,52);
  
}



.address
{
height:166px;
width:400px;
position:relative;
float:left;
margin-left:20px;
}
/* this part for contorling the description automatically place in middle */
.div1{
    position:relative;   
    height:166px;
    width:400px;
    display:table;
	margin:auto;
} 
.div2{
    display:table-cell;
    vertical-align:middle;
    position:relative;
    width:100%;
}
.div3{
    position:relative;
     }
.div3 p
{  font-size:12px;
   font-family:SimSun;
   line-height:150%;
   font-weight:100;
   color:rgb(103,85,52);
 }




.map{

height:270px;
width:575px;
float:left;
position:absolute;
overflow:hidden;
top:42px;
left:326px;
}















