﻿.tabContainer{
height:180px;
}

 .Menunav{
height:175px;
}
 

.subMenu a{
cursor:pointer;
}
#container_wrap {
    margin-top:20px;
    position: relative;
    width: 986px;
    overflow:hidden;
	margin:0 auto;
}/*this is the container for content*/

#content {

    margin:0 auto;
	position:relative;
	overflow:hidden;
}

#content .Menucatagory
{
  width:986px;
  float:left;
  margin:0 auto;
}
/*these are css style for single dish!*/ 

.special1{
height:600px;
position:relative;
background-image:url("../images/menu/xiaolong.png");

}
.specialtitle{
position:relative;
margin-top:20px; 
margin-right:25px;
width:176px;
float:right;
}


.special1 p{
color:rgb(103,85,52);
font-size:13px;
direction:rtl;
letter-spacing:;
word-spacing:;
}

.special2{
color:rgb(103,85,52);
height:500px;
position:relative;
background-image:url("../images/menu/xiefen.png");

}

.special3{
color:rgb(103,85,52);
height:555px;
position:relative;
background-image:url("../images/menu/heisonglu.png");
}

.special4{
color:rgb(103,85,52);
height:951px;
position:relative;
background-image:url("../images/menu/two.png");
}
.special5{
color:rgb(103,85,52);
height:444px;
position:relative;
background-image:url("../images/menu/danchaofan.png")
}
.display
{
position:relative;
width:986px;
height:300px;
background-image:url("../images/backgroundforlocation.png");
background-repeat:repeat-y;
margin-top:8px;
display:inline;
float:left; 
color:rgb(103,85,52);
}

.detail{
position:relative;
width:493px;
height:300px;

float:left;
}

.detail a img{
float:left;
}
/* this part for contorling the description automatically place middle */
.div1{
    position:relative;   
    height:300px;
    width:200px;
    display:table;
	margin:auto;
} 

.div2{
    display:table-cell;
    vertical-align:middle;
    position:relative;
    width:100%;
}

.div3{
    position:relative;
     }

.div3 p
{  font-size:13px;
   font-family:SimSun;
}

.shilingspecial{
height:618px;
background-image:url("../images/menu/tesebackground.png");
position:relative;
color: #675534;
font-size: 13px;
}

.newspecial {
    background-image: url("../images/menu/newbackground.png");
    color: #675534;
    font-size: 13px;
    height: 454px;
    position: relative;
}

