﻿
.Menunav{
 height:176px;
} 


.content{
margin:0 auto;
width:986px;
position:relative;

}

.content .w1 {

font-family: simsun;
font-size:14px;
line-height:18px;
color:rgb(103,85,52);
}

.content .w2{
font-family: simsun;
font-size:18px;
font-weight:600;
}

 


/*the followings are for News content.*/

.News
{
   position:relative;
   height:373px;
   width:985px;
   margin-top:15px;
   background-image:url("../images/newsBackground.png");
}
 .News .dateArea
{ 
   float:left;
   height:375px;
   width:127px;
}

.News  .dateArea  .date
{
   position:relative;
   margin-top:29px;
   margin-left:40px;
   margin-right:40px;
}
 
.News .date h2
{
font-family:garamond;
font-size:48px;
color:#FFFFFF;

}

.News  .date p
{
  font-family:garamond;
  font-size:15px;
  color:#FFFFFF;
}

.News  .maintext{

margin-top:30px;
margin-right:63px;
float:right;
width:240px;
}


