.tabContainer{
height:108px;


}

#content {
     margin-top:25px;
}

 .Menunav{
height:104px;
}

/*the followings are for Promotions content.*/

.Promotions
{
   position:relative;
   height:448px;
   width:986px;
   margin-top:17px;
   background-image:url("../images/PromotionsBackground.png");
   filter: alpha(opacity=80);  
   -moz-opacity: 0.9;  
   -khtml-opacity: 0.9;  
   opacity: 0.9;  
}
 .Promotions .dateArea
{ 
   position:relative;
   float:left;
   height:448px;
   width:128px;
}

.Promotions .dateArea .statues
{ 
  
  left:50px;
  height:84px;
  width:35px;
  position:absolute;
  background-image:url("../images/goodicon/bannergreen.png");
}
.Promotions .dateArea .statues_off
{ 
  
  left:50px;
  height:84px;
  width:35px;
  position:absolute;
  background-image:url("../images/goodicon/bannerbrown.png");
}
.Promotions .dateArea .statues h2
{
    margin-top:6px;
	margin-left:9px;
    font-family:SimSun;
    width: 1em;
    font-size: 16px;
    letter-spacing: 40px; /* arbitrary large letter-spacing for safety */
	color:#FFFFFF;
  }

.Promotions .dateArea .statues_off  h2
{
    margin-top:6px;
	margin-left:9px;
    font-family:SimSun;
    width: 1em;
    font-size: 16px;
    letter-spacing: 40px; /* arbitrary large letter-spacing for safety */
	color:#FFFFFF;
  }

.Promotions  .dateArea  .date
{
   position:absolute;
   top:190px;
   left:40px;
   right:40px;
}
 
.Promotions .date .p1
{
display:block;
font-family:garamond;
font-size:48px;
color:#FFFFFF;
float:left;
position:relative;
}

.Promotions .date p
{
display:block;
position:relative;
font-family:garamond;
font-size:14px;
color:#FFFFFF;
float:left;
margin-top:-24px;
margin-left:6px;

}



.Promotions  .maintext{
position:relative;
margin-top:65px;
margin-left:82px;
float:left;
width:298px;

}

.maintext p
{
 
 font-size:14px;
 font-weight:400;
 color:rgb(103,85,52);
}

.Promotions  .w
{
    font-family: simsun;
    font-size: 18px;
    font-weight: 600;
}



