<div style="padding:0.5em;font-size:2.5em;">作者是这样一个人... ...</div>
<div style="font-size:1.8em;line-height:1.5em;border-top:0.1em solid lightgrey;border-bottom:0.1em solid lightgrey;padding:0.5em;">
<div>作者不是职业作家，但写作，是作者从未放下的梦想。</div>
<div>一直想写长篇，但开了很多个头，总不满意，无以为继，只好搁置。</div>
<div>所以先写些短篇，是为练笔，也是不使光阴虚度。</div>
<div>一个短小的故事，不会改变什么，只可能触动当下的一点点情肠。</div>
<div>让你想起生命中一个同样短小而触动的瞬间，或一蹙眉，或一浅笑，就已足够。</div>
</div>
<div style="padding-top:1.5em;"></div>
