<div style="text-align:center;">
	<div id="novellist">
	<foreach name="list" item="v">
		<div style="border-bottom:0.1em solid grey;height:6em;line-height:6em;">
			<a href="__APP__/Frontend/Index/comment/id/{$v.id}" style="float:left;width:65%;text-align:left;text-decoration:none;color:black;font-size:2.5em;text-align:left;font-weight:bold;">{$v.title}<a/>
			<span style="font-size:1.5em;width:35%;float:left;text-align:right;">{$v.release_date}</span>
		</div>
	</foreach>
	</div>
	<!--<div style="position:fixed;bottom:0px;">{$page}</div> -->
	<div style="clear:both"></div>

	<div style="margin-top:2em;color:white;">
		<div name="{$prev}" id="prev"  style="font-size:3em;width:42%;text-align:center;cursor:pointer;background:url('__PUBLIC__/Images/comment.png') 0 0 no-repeat;float:left;">
			上一页	
		</div>

		<div id="next" name="{$next}" style="font-size:3em;width:42%;text-align:center;cursor:pointer;background:url('__PUBLIC__/Images/comment.png') 0 0 no-repeat;float:right;">
		下一页
		</div>
	</div>
</div>

		 <script type="text/javascript">
					
			$(function(){
					var handleUrl = '{:U("Frontend/Index/page/")}';
							$('#prev').click(function(){
								var prev = $("#prev").attr("name");
								if (prev == 0) {
									return ;
								}
									$.post(
										handleUrl,
										{
											'p':prev,
											'status':'future'
										},
										function(data)
										{
											var list = data.list;
											var prev = data.prev;
											var next = data.next;
											$("#prev").attr("name", prev);
											$("#next").attr("name", next);
											$("#novellist").html(list);
										},
										'json'
									);
							});
							$('#next').click(function(){
								var next = $("#next").attr("name");
								if (next == 0 ){
									return;
								}
									$.post(
										handleUrl,
										{
											'p':next,
											'status':'future'
										},
										function(data)
										{
											var list = data.list;
											var prev = data.prev;
											var next = data.next;
											$("#prev").attr("name", prev);
											$("#next").attr("name", next);
											$("#novellist").html(list);
										},
										'json'
									);
							});


			});
		</script>
