/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
   /* margin-bottom:10px;*/
  /*  -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
  */
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: center;
	padding: 20px 0;
	position:absolute;
	left:50%;
	margin-top:-46px;
	margin-left:-33px;
	z-index:999;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:18px;
	height:22px;
	background: url("bullets.png") no-repeat scroll 0 -35px transparent;
	text-indent:-9999px;
	border:0;
	
}
.theme-default .nivo-controlNav a.active {
	background: url("bullets.png") no-repeat scroll 0 0 transparent;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	
/*	background:url(arrows.png) no-repeat; */
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
/*	background-position:-30px 0;
	right:15px;
*/
    right:-7px;
	background:url(rightArrow.png) no-repeat;	
}
.theme-default a.nivo-prevNav {
	left:15px;
	background:url(arrows.png) no-repeat;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}