.releaseAndShare {
	margin-top:1em;
	position:relative;
}

.releaseAndShare .release_date {
	font-size:1em;
	color:lightgrey;
	float:left;
}
.share_container {
	float:right;
	width:100%;
	margin-top:2em;
	display:none;
	border-bottom:0.1em solid lightgrey;
	padding-bottom:2em;
}

.share_container .share {
	width:2em;
	height:2em;
}

#articleAndComment {
	display:none;
	margin-top:1em;
}

#articleAndfunc {
	margin-top:1em;
}

.title {
	font-size:1.6em;
	width:100%;
	font-weight:bold;
	margin-top:1em;
}

.clear {
	clear:both;
}

.novelcontent {
	text-align:left;
	margin-top:1.5em;
}

.line_height {
	line-height:1.5em;	
}

.comment_content {
	width:98%;
	height:3em;
	font-size:1em;
	color:lightgrey;
	border:lightgrey solid 0.1em;
}

#deliverycomment {
	width:7.275em;
	margin-top:0.5em;
	float:left;
}

#deliverycomment img {
	width:5em;
}

#commentlist {
	margin-top:3.5em;
	padding-bottom:1em;
	border-top:0.1em solid lightgrey;
	padding-top:0.1em;
}

#commentlist .user_comment {
	/*background-color:#F2F0F0;*/
	border-bottom:0.1em solid lightgrey;
	padding-left:0.5em;
	padding-right:0.5em;
}

#commentlist .user_comment .user_avatar {
	float:left;
	padding-top:0.5em;
	width:20%;
}

.user_comment .user_avatar img {
	width:3.5em;
	height:3.5em;
}

#commentlist .user_comment .comment_info {
	float:left;
	padding-top:0.5em;
	padding-bottom:0.5em;
	width:80%;
}

.user_comment .comment_info .username {
	float:left;
	font-size:0.7em;
}

.user_comment .comment_info .comment_time {
	float:right;
	font-size:0.7em;
	color:grey;
}

.user_comment .comment_info .contents {

	margin-top:0.5em;
	line-height:1.5em;
	letter-spacing:0.1em;
}

.user_comment .reply {
	margin:1em auto;
	margin-left:20%;
	float:left;
	width:80%;
	border:0.1em solid lightgrey;
}


.user_comment .reply em {
	display:block;
	width:2em;
	height:0.6em;
	font-size:1.5em;
	overflow:hidden;
	position:relative;
	margin-left:1em;
	margin-top:-0.6em;
	font-style:normal;
	color:lightgrey;
}

.user_comment .reply span {
	display:block;
	width:2em;
	font-size:1.5em;
	height:0.6em;
	overflow:hidden;
	position:relative;
	margin-left:1em;
	margin-top:-0.55em;
	color:white;
}
#load_more, #tips, #load_warning {
	display:none;
	padding-bottom:1em;
	width:100%;
	text-align:center;
}

.future_banner {
	margin-top:1em;
}

.future_banner img {
	width:100%;
}

#booknovel {
	width:100%;
	padding-bottom:1em;
	margin-top:1.5em;
}

#booknovel img {
	width:11.9em;
	height:3.55em;
	display:block;
	margin:0em  auto;
}

.novellist_body {
/*	background-image:url("/app/Public/Images/history_background.png");*/
	background-size:100%;
	background-color:#F5F5F5;
	background-attachment:fixed;
	width:100%;
	margin:auto;
	font-family:'microsoft yahei',Arial,宋体;
	font-size:62.5%;
}

.novellist_container {
	text-align:center;
	width:97%;
	margin:auto;
}

#novellist .listinfo {
	display:block;
	/*height:13em;
	border:solid 0.1em #FF7F50; */
	border:solid 0.1em grey;
	-moz-border-radius:1em;
	-webkit-border-radius:1em;
	border-radius:1em;
	opacity:0.85;
	filter:alpha(opacity:85);
	background-color:white;
	text-decoration:none;
	margin-top:1em;
	padding-top:1em;
	padding-bottom:1em;
	padding-left:1em;
	padding-right:1em;
	font-size:1.4em;
}

#novellist .listinfo .list_title {
	color:black;
	font-size:1.6em;
	padding-top:0.5em;
	text-align:left;
	font-weight:bold;
}

#novellist .listinfo .release_date {
	color:grey;
	font-size:1.4em;
	padding-top:0.5em;
	text-align:left;
}

#novellist .listinfo .comment_counts {
	font-size:1.4em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	color:black;
	float:right;
	text-align:left;
}

#novellist .listinfo .comment_counts img{
	width:1em;
	height:1em;
}

#novellist .listinfo .synopsis {
	background-color:lightgrey;
	color:black;
	text-align:left;
	line-height:1.5em;
	padding:0.5em;
}

#novellist .listinfo .past_read_more {
	position:relative;
	color:black;
	margin-top:1em;
}

#novellist .listinfo .line {
	border-top:0.1em solid lightgrey;
	margin-top:0.5em;
}

#novellist .listinfo .past_read_more .left_div {
	float:left;
}

#novellist .listinfo .past_read_more .right_div {
	float:right;
}

.novellist_container .page {
	padding-top:2em;
	padding-bottom:5em;
}

.novellist_container .page #prev {
	float:left;
}

.novellist_container .page img {
	width:9em;
}

.novellist_container .page #next{
	float:right;
}
